<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Reset Password</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<style>
    p > a:hover {
        color: #0086E5;
    }
</style>
<body>
<!--element start here-->
<div class="element">
    <h2>Reset Password Form</h2>
    <div class="element-main" id="wait">
        <h1>Forgot Password</h1>
        <p><a href="/login">Back Login</a></p>
        <form onsubmit="return false">
            <input type="text" value="Your e-mail address" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Your e-mail address';}" id="mail">
            <div class="abs">
                <input type="text" value="Verification Code" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Verification Code';}" id="code">
                <div>
                    <button class="rea" id="get-code-button">
                        获取验证码
                    </button>
                </div>

            </div>

            <input type="button" value="Reset my Password" id="check">
        </form>
    </div>
    <div id="change" class="element-main" style="display: none">
        <h1>Input New Password</h1>
        <p><a href="/login">Back Login</a></p>
        <form onsubmit="return false">
            <div class="abs">
                <input type="password" id="pwd1">
                <button class="other" disabled="disabled">
                    password:
                </button>
            </div>
            <div class="abs">
                <input type="password" id="pwd2">
                <button class="other" disabled="disabled">
                    confirm:
                </button>
            </div>
            <input type="button" value="Submit Change" id="submit-password">
        </form>
    </div>
</div>
<div class="copy-right">
    <p><strong>版权所有：<a href="http://www.xiyou.edu.cn" target="_blank"> 西安邮电大学 </a> </strong> 2011-2017 中国西安长安南路563号
        陕ICP备040096号
    </p>
</div>
<script src="/static/jquery/jquery-2.2.3.min.js"></script>
<script>
    $(function () {
        $("#get-code-button").click(function () {
            var param = {};
            var re = /^[\w-]+(\.[\w]+)*@([\w-]+\.)+[a-zA-z]{2,7}$/;
            var mail = $("#mail").val();
            param.mail = mail;
            if (!mail.match(re)) {
                alert('请输入正确的邮箱！');
                $("#mail").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/reset.create",
                data: param,
                async: false,
                success: function (data) {
                    if (data == 'ok') {
                        djs();
                    } else {
                        alert(data);
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        })
    });

    function djs() {
        var second = 60;
        var timer = null;
        $('#get-code-button').attr('disabled', "true").css('background-color', '#A29E9E');
        timer = setInterval(function () {
            second -= 1;
            if (second > 0) {
                $('#get-code-button').html(second + "s后重新获取");
            } else {
                clearInterval(timer);
                $('#get-code-button').html("获取验证码").removeAttr("disabled").css('background-color', '#0086E5');
            }
        }, 1000);
    }

    $(function () {
        $("#check").click(function () {
            var param = {};
            param.mail = $("#mail").val();
            param.code = $("#code").val();
            if (param.code.length != 4) {
                alert("请输入4位验证码");
                $("#code").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/reset.check",
                data: param,
                async: false,
                success: function (data) {
                    if (data == "ok") {
                        $("#wait").css('display', 'none');
                        $("#change").css('display', 'block');
                    } else {
                        alert(data);
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        })
    })

    $(function () {
        $("#submit-password").click(function () {
            var param = {};
            var valid = true;
            param.pwd1 = $("#pwd1").val();
            param.pwd2 = $("#pwd2").val();
            if (!!!param.pwd1) {
                alert('密码不能为空！');
                $("#pwd1").focus();
                valid = false;
            }
            if (!!!param.pwd2) {
                alert('密码不能为空！');
                $("#pwd2").focus();
                valid = false;
            }
            if (param.pwd1 != param.pwd2) {
                alert('两次密码不相等');
                $("#pwd2").focus();
                valid = false;
            }
            if (valid) {
                $.ajax({
                    type: "POST",
                    url: "/reset.submit",
                    data: param,
                    async: false,
                    success: function (data) {
                        if (data == "ok") {
                            alert('Successfully!\nPlease login to System');
                            window.location.href = '/login';
                        } else {
                            alert('Some Error Occur\nPlease Try Again Later!');
                            location.reload();
                        }
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
        })
    })
</script>
<!--element end here-->
</body>
</html>